/* styles.css */

/* Style for the "about" section */

  /* Header styles */
header {
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 24px;
  margin: 0;
}

/* Navigation styles */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* About section styles */
#about {
  padding: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 0;
}

/* Contact Information styles */
.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.contact-info ul li a {
  text-decoration: none;
  color: #333;
}

/* Skills styles */
#skills ul {
  list-style-type: none;
  padding: 0;
}

#skills ul li {
  margin-bottom: 5px;
}

/* Projects section styles */
#projects {
  padding: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 0;
}

article {
  margin-bottom: 20px;
}

article h3 {
  margin-top: 0;
}

article p {
  margin-bottom: 10px;
}

article a {
  text-decoration: none;
  color: #333;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.sitemap ul {
  list-style-type: none;
  padding: 0;
}

.sitemap ul li {
  margin-bottom: 5px;
}

.back-to-top a {
  text-decoration: none;
  color: #333;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.contact-info ul li a {
  text-decoration: none;
  color: #333;
}
.profile {
  width: 200px;
}